.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.cards > ul > li:hover{
  background: linear-gradient(131.68deg, rgba(78, 142, 189, 0.5) -30.2%, rgba(0, 95, 150, 0.9) 34.7%, rgba(1, 94, 144, 0.9) 71.59%, rgba(1, 96, 150, 0.55) 136.26%);
  color: white;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  height: 20px;
}

.cards-card-image{
  width: 20px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 248px;
  margin-bottom: 1px;
}

.cards > ul > li:hover .cards-card-image img {
  filter: invert(1); /* Invert the arrow image to white */
}

.cards{
  cursor: pointer;
}
