/* Main container */
.section.imgtop-container {
  background-image: url('./media_1ef002639162d6986fdbe04f0894cc8797c6faaeb.png?width=2000&format=webply&optimize=medium'); /* URL of the image */
  background-size: cover; 
  background-position: center center; 
  height: 78.8vh; 
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 16px;
  margin-bottom: 0;
  margin-top: 34.5px;
}

.imgtop-wrapper {
  position: absolute; 
  text-align: center; 
  width: 100%;
}

/* Text styling */
.imgtop-wrapper p {
  margin: 0;
  font-size: 30px; 
  font-weight: bold;
  line-height: 1.5;
  margin-right: 766px;
  margin-top: 140px;
}

.imgtop.block p:nth-of-type(2) {
    width: 400px;
    margin-right: 776px;
    text-align: left;
  }

.imgtop-wrapper picture {
  display: none;
}


.imgtop-wrapper p + p {
  font-size: 18px; 
  max-width: 80%; 
  margin: 10px auto; 
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .picture-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .picture-container {
    grid-template-columns: 1fr; 
  }
}


.cmmi {
    background-color: #1e2a47; 
    color: white; 
    text-align: center; 
    font-size: 20px; 
    font-family: Arial, sans-serif; 
    
}

.section.cmmi {
    margin: 0; 
    padding: 0; 
}

.section.cmmi p{
  margin-top: 0;
}